//Colors
$primary-color: #222222;

$secondary-color: #ffffff;

$primary-bg: #d6000a;

$tertiary-btn: #1c7e39;

//Fonts
$primary-font: 'Circe Regular', sans-serif;

$secondary-font: 'Circe Bold', sans-serif;

$tertiary-font: 'Circe Extra Bold', sans-serif;

//Fonts-size
$primary-size: 24px;

$size-alfa: 18px;

$secondary-size: 14px;

$tertiary-size: 16px;

$primary-big: 36px;

//Weight
$primary-weight: 400;
$secondary-weight: 700;

// Media screen
$md1: 1200px;
$md2: 991px;
$md3: 768px;
$md4: 480px;
$minwidth: 359px;