@import "vars";
@import "libs";
@import "fonts";
@import "blocks/_header.scss";
@import "blocks/_intro.scss";
@import "blocks/_section.scss";
@import "blocks/_catalog.scss";
@import "blocks/_advantage.scss";
@import "blocks/_showroom.scss";
@import "blocks/_slider.scss";

body {
    font-family: $primary-font;
    font-size: $primary-size;
    color: $primary-color;
    font-weight: $primary-weight;
}

*,
*:before,
*:after  {
    box-sizing: border-box;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}


ul, ol {
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
    outline: none;
    background-color: transparent;
    border: none;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}

.logo {
    max-width: 105px;
    img {
        display: block;
        width: 100%;
    }
}

.btn__callback {
    padding: 16px 30px 16px;
    color: $tertiary-btn;
    font-family: $tertiary-font;
    font-size: $secondary-size;
    text-transform: uppercase;
    border-radius: 25px;
    border: 2px solid $tertiary-btn;
    transition: .2s;
    &:hover {
        border-color: #0bff53;
    }
}

